<div class="ui secondary pointing menu" >
  <a class="item" routerLink="/feed" routerLinkActive="active">
    Home
  </a>
  <a class="item" routerLink="/messages" routerLinkActive="active">
    Messages
  </a>
  
  <div class="right menu">
      <div class="search-container" style="padding-top: 5px">
          <input type="text" placeholder="Search.." name="search" style="background: gainsboro;">
          <button type="submit" ><i class="fa fa-search"></i></button>
      </div>
    <a class="ui item" routerLink="/login" routerLinkActive="active">
     <i class="fa fa-user-circle"></i> Login
    </a>
  </div>
 
</div>


